<ion-tabs>
    <ion-tab-bar slot="bottom" id="nav-bar">
    <!-- ^ declared an id for the tab-bar so this way the toast message won't be drawn over it. Check country-details html page for more info --> 
      
      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
        Home
      </ion-tab-button>
  
      <ion-tab-button tab="favorites-screen">
        <ion-icon name="heart-outline"></ion-icon>
        Favorites
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs>